/* HEADER */
h1 {
  text-align: center;
  font-size: 50px;
}
/* FORM */
.form {
  width: 550px;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.title {
  font-size: 24px;
  padding-bottom: -5px;
}
.input {
  height: 40px;
}

/* BUTTON  */
.btn-register {
  margin-top: 40px;
  background-color: #5c48d3;
  border-radius: 5px;
  color: white;
  font-size: 24px;
  height: 50px;
}
/* RESULTAT */
.resultat {
  padding-top: 5px;
  width: 400px;
  height: 200px;
  background-color: #e5e5e5;
  border-radius: 5px;
  font-weight: normal;
  margin: auto;
  padding-left: 10px;
}
.resultat h2 {
  text-align: center;
}
.btn-edit {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 550px;
  background-color: #5c48d3;
  border-radius: 5px;
  color: white;
  font-size: 24px;
  height: 50px;
}
/* FOOTER */
.footer {
  text-align: center;
  color: black;
  font-size: 15px;
  line-height: 18px;
}
.footer a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-style: italic;
}
